*
{
    margin: 0px;
    padding: 0px;
}


/* --------------------------------------------navigation_bar------------------------------------------------------------ */
#navigation_bar
{
    background-color: white;
    height: 120px;
    width: 100%;
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    z-index: 1;
}
#name_profession
{
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    align-items: center;
    left: 0%;
}
#small_box
{
    background-color: blue;
    height: 20px;
    width: 20px;
    margin-left: 40px;
    margin-right: 10px;
}
#name
{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bolder;
    font-size: 30px;
    position: relative;
    top: 6px;
}
#slash
{
    font-family: "Ysabeau SC", sans-serif;
    font-weight: 500;
    font-style:normal;
    font-size: 18px;
    position: relative;
    top: 7px;
}
#developer
{
    font-family: "Ysabeau SC", sans-serif;
    font-weight: 500;
    font-style:normal;
    font-size: 18px;
    position: relative;
    top: 11px;
}
#navigation_links
{
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    right: 0%;
}
#navigation_links a
{
    font-family: "Ysabeau SC", sans-serif;
    font-weight:500;
    font-style:normal;
    font-size: 18px;
    text-decoration: none;
    padding: 20px;
    color: black;
}
#navigation_links a:hover
{
    color: blue;
}
/* --------------------------------------------navigation_bar------------------------------------------------------------ */



/* --------------------------------------------middle box------------------------------------------------------------ */

#gap
{
    height: 120px;
    width: 100%;
}
#middle_box
{
    height: 2000px;
    background-color: rgb(255, 200, 0);
    display: flex;
    justify-content: center;
}
#resume_head
{
    font-size: 40px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bolder;
    position: absolute;
    top: 150px;
}
#underline
{
    height: 4px;
    width: 44px;
    background-color: blue;
    position: absolute;
    top: 215px;
}
#download
{
    position: absolute;
    top: 400px;
}
/* -------------------download_button--------------------- */
.Btn {
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 50%;
    background-color: rgb(27, 27, 27);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
    transition-duration: 0.3s;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.11);
  }
  
  .svgIcon {
    fill: #2196f3;
  }
  
  .icon2 {
    width: 18px;
    height: 5px;
    border-bottom: 2px solid #2196f3;
    border-left: 2px solid #2196f3;
    border-right: 2px solid #2196f3;
  }
  
  .tooltip {
    position: absolute;
    right: -80px;
    opacity: 0;
    background-color: rgb(12, 12, 12);
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition-duration: 0.2s;
    pointer-events: none;
    letter-spacing: 0.5px;
  }
  
  .tooltip::before {
    position: absolute;
    content: "";
    width: 10px;
    height: 10px;
    background-color: rgb(12, 12, 12);
    background-size: 1000%;
    background-position: center;
    transform: rotate(45deg);
    left: -5%;
    transition-duration: 0.3s;
  }
  
  .Btn:hover .tooltip {
    opacity: 1;
    transition-duration: 0.3s;
  }
  
  .Btn:hover {
    background-color: #2196f3;
    transition-duration: 0.3s;
  }
  
  .Btn:hover .icon2 {
    border-bottom: 2px solid black;
    border-left: 2px solid black;
    border-right: 2px solid black;
  }
  
  .Btn:hover .svgIcon {
    fill: black;
    animation: slide-in-top 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  }
  
  @keyframes slide-in-top {
    0% {
      transform: translateY(-10px);
      opacity: 0;
    }
  
    100% {
      transform: translateY(0px);
      opacity: 1;
    }
  }
/* -------------------download_button--------------------- */

#ED_box
{
    height: 60px;
    width: 600px;
    position: absolute;
    top: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#ED_box p
{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bolder;
    font-size: 30px;
}

.education_box
{
    height: 400px;
    width: 600px;
    background-color: white;
    box-shadow: 0px 3px 80px rgba(0,0,0,0.4);

}

#course_box
{
    position: absolute;
    top: 440px;
    display: flex;
    justify-content: center;
}
#course_t1
{
    position: absolute;
    top: 40px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bolder;
    font-size: 30px;
}
#course_t2
{
    position: absolute;
    top: 100px;
    font-family: "Nunito Sans", sans-serif;
    font-weight: 100;
    font-size: 30px;
}
#course_t3
{
    position: absolute;
    top: 160px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bolder;
    color: blue;
    font-size: 30px;
}
#course_t4
{
    position: absolute;
    top: 200px;
    font-family: "Nunito Sans", sans-serif;
    font-weight: 100;
    font-size: 20px;
    padding: 30px;
    text-align: justify;
}
#degree_box
{
    position: absolute;
    top: 950px;
    display: flex;
    justify-content: center;
}
#degree_t1
{
    position: absolute;
    top: 40px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bolder;
    font-size: 30px;
}
#degree_t2
{
    position: absolute;
    top: 100px;
    font-family: "Nunito Sans", sans-serif;
    font-weight: 100;
    font-size: 30px;
}
#degree_t3
{
    position: absolute;
    top: 160px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bolder;
    color: blue;
    font-size: 30px;
}
#degree_t4
{
    position: absolute;
    top: 200px;
    font-family: "Nunito Sans", sans-serif;
    font-weight: 100;
    font-size: 20px;
    padding: 30px;
    text-align: justify;
}
#s_box
{
    height: 60px;
    width: 600px;
    position: absolute;
    top: 1420px;
    display: flex;
    justify-content: left;
    align-items: center;
}
#s_box p
{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bolder;
    font-size: 30px;
}

#skill_box
{
    position: absolute;
    top: 1500px;
    display: flex;
    justify-content: center;
    align-items: center;

}
#skill_box ul
{
    /* position: absolute;
    top: 40px; */
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bolder;
    font-size: 30px;
    list-style: square ;
    color: blue;
}
.skill
{
    color: black;
}
/* --------------------------------------------middle box------------------------------------------------------------ */




/* --------------------------------------------bottom_bar------------------------------------------------------------ */
.fa-linkedin,.fa-github,.fa-instagram,.fa-facebook
{
    color: black;
    text-decoration: none;
}
#bottom_bar
{
    height: 120px;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    bottom: 0;
}
#link_box2
{
    width: 200px;
    display: flex;
    justify-content: space-evenly;
    align-items: center
    
}
.bottom_headings
{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight:500;
    font-size: 20px;
    text-align: center;
}
.bottom_links
{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: lighter;
    font-size: 15px;
    text-decoration: none;
    color: black;
    text-align: center;
}
